{% if variant and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('mdc-top-app-bar--' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}

<header{{ attributes.addClass('mdc-top-app-bar') }}>
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      {{ navigation }}
      {% if title %}
      <span class="mdc-top-app-bar__title">{{ title }}</span>
      {% endif %}
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      {{ buttons }}
    </section>
  </div>
  {{ additional }}
</header>
