{% if variant and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('mdc-card--' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}

<div{{ attributes.addClass('mdc-card') }}>
  <div class="mdc-card__primary-action">
    {{ header }}
    {% if media_url %}
    {% set media_attributes = create_attribute().addClass("mdc-card__media").setAttribute("style", "background-image: url(" ~ media_url ~ ")") %}
    {% set media_attributes = media_scale ? media_attributes.addClass("mdc-card__media--" ~ media_scale) : media_attributes %}
    <div{{ media_attributes }} >
    {% if media_content %}
    <div class="mdc-card__media-content">
    {{ media_content }}
    </div>
    {% endif %}
    </div>
    {% endif %}
    {% if body %}
    <div class="mdc-card__content">
    {{ body }}
    </div>
    {% endif %}
    <div class="mdc-card__ripple"></div>
  </div>
  {% if action_buttons or action_icons %}
  <div class="mdc-card__actions">
    {% if action_buttons %}
    <div class="mdc-card__action-buttons">
      {{ action_buttons }}
    </div>
    {% endif %}
    {% if action_icons %}
    <div class="mdc-card__action-icons">
      {{ action_icons }}
    </div>
    {% endif %}
  </div>
  {% endif %}
</div>
