{% if variant != '' and variant|lower != 'default' %}
  {% set variants = variant|split('__') %}
  {% for variant in variants %}
    {% set attributes = attributes.addClass('mdc-card--' ~ variant|lower|replace({'_': '-'})) %}
  {% endfor %}
{% endif %}

{% set media_attributes = create_attribute().addClass("mdc-card__media") %}
{% set media_attributes = media_scale ? media_attributes.addClass("mdc-card__media--" ~ media_scale) : media_attributes %}

{% set media_url = (media and media["#type"] == "html_tag") ? media["#attributes"]["src"] : "" %}
{% set media_url = (media and media["#theme"] == "image") ? media["#uri"] : media_url %}
{% set media_url = (media and media[0]["#type"] == "html_tag") ? media[0]["#attributes"]["src"] : media_url %}
{% set media_url = (media and media[0]["#theme"] == "image") ? media[0]["#uri"] : media_url %}
{% set media_attributes = media_url ? media_attributes.setAttribute("style", "background-image: url(" ~ media_url ~ ")") : media_attributes %}

<div{{ attributes.addClass('mdc-card') }}>
  <div class="mdc-card__primary-action">
    {{ header }}
    {% if media %}
    <div{{ media_attributes }} >
    {% if media_content %}
    <div class="mdc-card__media-content">
    {{ media_content }}
    </div>
    {% endif %}
    </div>
    {% endif %}
    {% if body %}
    <div class="mdc-card__content">
    {{ body }}
    </div>
    {% endif %}
    <div class="mdc-card__ripple"></div>
  </div>
  {% if action_buttons or action_icons %}
  <div class="mdc-card__actions">
    {% if action_buttons %}
    <div class="mdc-card__action-buttons">
      {{ action_buttons }}
    </div>
    {% endif %}
    {% if action_icons %}
    <div class="mdc-card__action-icons">
      {{ action_icons }}
    </div>
    {% endif %}
  </div>
  {% endif %}
</div>
