{% if variant != '' and variant|lower != 'default' %}
  {% set variants = variant|split('__') %}
  {% for variant in variants %}
    {% set attributes = attributes.addClass('mdc-list--' ~ variant|lower|replace({'_': '-'})) %}
  {% endfor %}
{% endif %}

<ul{{ attributes.addClass('mdc-list') }}>
  {% for item in items %}
  <li class="mdc-list-item">
    <span class="mdc-list-item__ripple"></span>
    {% if item is iterable and item.title and item.url %}
    <a href="{{ item.url }}" class="mdc-list-item__text">{{  item.title }}</a>
    {% elseif item is iterable and item.title and not item.url %}
    <span class="mdc-list-item__text">{{  item.title }}</span>
    {% elseif item is not iterable %}
    <span class="mdc-list-item__text">{{  item }}</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>
